.Application {
	width: 100vw;
	display: flex;
	flex-direction: column;
	align-content: center;
	height: 100vh;
	overflow-x: hidden;

	.Container {
		position: relative;
	}

	.maxHeightWidth {
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
	}


}


::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	background-color: #181818;
}

::-webkit-scrollbar {
	width: 10px;
	background-color: #181818;
}

::-webkit-scrollbar-thumb {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
	background-color: #444;
}

html.light {
	::-webkit-scrollbar-track {
		background-color: #F5F5F5;
		border-radius: 100%;
	}

	::-webkit-scrollbar {
		background-color: #F5F5F5;
	}

	::-webkit-scrollbar-thumb {
		background-color: #d0d0d0;
	}
}